<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="base">
<!--/*@thymesVar id="productResource" type="be.kdg.hardware.web.resources.stock.ProductResource"*/-->
<head>
    <title>Product created</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="row">
        <div class="col-md-2" th:replace="fragments/aside :: aside(index='mycart')"></div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Cart item details</h3></div>
                <div class="panel-body">
                    <h4>Cart item</h4>
                    <table class="table">
                        <tr>
                            <th>Category name</th>
                            <td th:text="${cartItemResource.productResource.categoryName}">$</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td th:text="${cartItemResource.productResource.description}"></td>
                        </tr>
                        <tr>
                            <th>Price</th>
                            <td th:text="${cartItemResource.productResource.price}"></td>
                        </tr>
                        <tr>
                            <th>Amount</th>
                            <td th:text="${cartItemResource.amount}"></td>
                        </tr>
                        <tr>
                            <th>Subtotal</th>
                            <td th:text="${cartItemResource.total}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>